<div class="showpatient">
    <h2>Patient Details</h2><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Visited Doctor Name</th>
                <th>Date of Visit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.visitedDoctor}}</td>
            <td>{{patient.dateofVisit}}</td>
             </tr>
        </tbody>
    </table>
    </div>